.DS_Store
2022_Copy/
2022_New/
Map Quality Assurance checklist.url
Map/
QA&QC/
README.txt
WCMC_045_GlobalCH_IFCPS6_2017/
crhab_lpu/
docs/
info/
kba-2022-10.zip
mapdocs/
outputs/
!outputs/paper
outputs/paper/ch_paper_files/
outputs/paper/ch_paper_supp_cache/
outputs/paper/ch_paper_supp_files/
p08868_CriticalHabitatUpdate.Rproj
project_inventory.xlsx
raw_data/
scratch/
work_in_progress/
.Rproj.user
